body{background-color:#ADD8E6;}
center{text-align:center;}
text{font-size:20px;font-family:Microsoft Yahei;}
.red{color:red;}
.noselect{user-select:none;}
.stdText{font-size:25px;font-family:Microsoft Yahei}
.largeText{font-size:40px;font-family:Microsoft Yahei;}
.leftUp{position:absolute;top:1px;left:1px;}
.leftBottom{position:absolute;bottom:1px;left:1px;}
.rightUp{position:absolute;top:1px;right:1px;}
.rightBottom{position:absolute;bottom:1px;right:1px;}